<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @user.Usuario %>
</p>


<% @user.posts.each do |post| %>
  <%=post.Mensaje%>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
